*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$neutral-950: #000000;
$neutral-500: #6F6F6F;
$neutral-200: #E4E4E4;
$neutral-100: #F5F5F5;
$neutral-0: #FFFFFF;
$slate-950: #1D1F22;
$slate-800: #2B2D31;
$slate-700: #35393F;
$slate-500: #5A6069;
$slate-400: #7C8187;
$slate-300: #C1C4CB;
$orange-600: #E60013;
$orange-400: #F39765;

:root {
  --neutral-950: #{$neutral-950};
  --neutral-500: #{$neutral-500};
  --neutral-200: #{$neutral-200};
  --neutral-100: #{$neutral-100};
  --neutral-0: #{$neutral-0};
  --slate-950: #{$slate-950};
  --slate-800: #{$slate-800};
  --slate-700: #{$slate-700};
  --slate-500: #{$slate-500};
  --slate-400: #{$slate-400};
  --slate-300: #{$slate-300};
  --orange-600: #{$orange-600};
  --orange-400: #{$orange-400};
  --btn-bg: #{$orange-600};
  --btn-hover: #{$orange-400};
  --bg: #{$neutral-950};
  --editor-header: #{$slate-950};
  --text-markdown: #{$slate-300};
}

[data-theme='light'] {
  --bg: #{$neutral-0};
  --editor-header: #{$neutral-100};
  --text-markdown: #{$slate-300};
}

body {
  background-color: var(--bg);
  color: var(--text-markdown);
}